@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

/*so hacky, because of the divs react adds*/
#viewDiv>div {
  height: 100%;
  width: 100%;
}

.mapView {
  height: 100%;
  width: 100%;
}

.zoom-btns {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  margin: 5px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.button {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  margin: 2px;
}

.button:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.26);
}

.button.grey {
  background-color: #eee;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.center {
  position: absolute;
  text-align: center;
}

.attribution {
  position: absolute;
  left: 75px;
  bottom: 5px;
  margin: 5px;
  font-size: 0.8em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.view-busy {
  opacity: 0.25;
}

.disable {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.26);
}

.disable:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.26);
}

.basemap-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #646464;
  width: 75px;
  height: 75px;
  margin: 1em;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.basemap-item {
  position: absolute;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.basemap-item-secondary {
  z-index: 999;
}

.basemap-item-current {
  z-index: 998;
  top: 1em;
  left: 1em;
}